@model List<CourseLab.Web.Models.ScheduleModel>

@{
    ViewData["Title"] = "StudentSchedule";
    Layout = "~/Views/Shared/_LayoutStuds.cshtml";
}

<h2>Your Schedule</h2>


<table class="table">
    <thead>
        <tr>
                
                <th>
                    @Html.DisplayNameFor(model => Model[0].Object)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].Professor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].EndTime)
                </th>
                
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Object)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            
            
        </tr>
}
    </tbody>
</table>
